<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %} {% endblock %}
    <style type="text/css">

        .sidenav {
            height:30px;
            width:100%;
            background-color:#ABCAFD;
        }

        .sidenav a {
            padding:6px 8px 6px 16px;
            text-decoration: none;
            font-size:25px;
            color: #000000;
            display:inline;

        }

        .sidenav a:hover{
            color: #f1f1f1;
        }

        .main{
            padding: 0px 10px;
        }
    </style>

    <title>
        kyles website
    </title>
</head>

<body>
    <div class="sidenav">

		<a href="/">home</a>
		<a href="/pdf_resume/">resume</a>
		<a href="/projects/">projects</a>
        <a href="/bio/">bio</a>

    </div>
    <div id="content", name="content", class="main">
        {%block content %} {% endblock %}
    </div>
</body>
</html>
