<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %} {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'base_r.css'%}">

    <title>
        kyles website
    </title>
</head>

<body>
    <div class="sidenav">

		<a href="/">home</a>
		<a href="/pdf_resume/">resume</a>
		<a href="/projects/">projects</a>
        <a href="/bio/">bio</a>

    </div>
    <div id="content", name="content", class="main">
        {%block content %} {% endblock %}
    </div>
</body>
</html>
