{% extends 'resume/base_r.html' %}

{% block title %} resume landing page{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div>
    <h1> Life of Kyle Stinar</h1>
    <h2>
Filler words take a different form in writing. Few of us actually write out “uh” or “um” when we’re composing an email. Instead, those little pauses manifest as unnecessary adverbs and empty phrases that add length but not substance to what you’re trying to say.

Fortunately, written communication gives us the opportunity to edit ourselves before we send our message out to the world (or our boss). Read on for some of the most common filler words that might be weighing your writing down.
</h2>
</div>

{% endblock %}