{% extends 'resume/base_r.html' %}


{% block head %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'projects.css'%}">
{% endblock %}


{% block content %}
<h1> this is the project page </h1>
<div class="project_one">
    <h2>Project One: <a href="/stocks">stocks</a></h2>
</div>
<div class="project_two">
    <h2>Project Two: <a href="/security">security</a></h2>
</div>
<div class="project_three">
    <h2>Project Threee: <a href="/blog">Blog</a></h2>
</div>
<div class="project_four">

</div>

{% endblock %}